.contain-location {
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 20px;
}

.contain-location h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.contain-location a,
.contain-location div {
    display: flex;
    color: white;
    ;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
}

.container-global-location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 50px;
    grid-gap: 50px 60px;
    padding: 50px;
}

.contain-location {
    background-size: cover;
}