.App-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    max-width: 1240px;
    margin: auto;
}

.App-header ul {
    display: flex;
    list-style: none;
    gap: 0 60px;
}

.App-header ul a {
    color: #FF6060;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}

.App-header ul li:first-child {
    text-decoration: underline;
}

.App-header img {
    max-width: 210px;
    width: 100%;
}