.containerSlide {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;

}

.arrow-right {
    position: absolute;
    right: 23px;
    z-index: 10;
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    left: 23px;
    z-index: 10;
    cursor: pointer;
}

.slide {
    display: flex;
    transition: transform 3s ease-in-out;
}

.active {
    width: 100%;
    transition: transform 3s ease-in-out;

}

.count {
    position: absolute;
    color: white;
    bottom: 25px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width:768px) {

    .arrow-left,
    .arrow-right {
        width: 12px;
        height: 20px;
    }

    .image {
        height: 225px;
    }

    .count {
        display: none;
    }
}