.contain-location {
    max-width: calc(300px - 40px);
    margin: auto;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
    display: flex;
    padding: 20px;
}

.contain-location h2 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Montserrat';
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.contain-location a,
.contain-location div {
    display: flex;
    color: white;
    ;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.container-global-location {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #F6F6F6;
    border-radius: 25px;
    margin-top: 50px;
    grid-gap: 50px 60px;
    padding: 50px;
}

.contain-location {
    background-size: cover;
}

@media screen and (max-width: 1024px) {
    .container-global-location {
        grid-template-columns: repeat(2, 1fr);

    }

}

@media screen and (max-width: 768px) {
    .container-global-location {
        grid-template-columns: repeat(1, 1fr);
        padding: 0px;
        background-color: #ffffff;
        margin-top: 20px;
        grid-gap: 20px 0;
    }

    .contain-location {
        width: calc(100% - 40px);
        max-width: inherit;

    }
}